<a href="https://colab.research.google.com/github/SEOWOOJI/SEOWOOJI_Python/blob/main/2025_01_25__2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플(tuple)

* 튜플명 = ()의 형태로 만듭니다.
* 수정이 불가능한 데이터

In [ ]:
t1 = (1,) # 튜플은 값이 1개일 경우에도 ,를 써줘야 함
t2 = (1) # 이 경우 그냥 값 1로 처리됩니다.
t3 = 1,2,3 # ()를 생략하고 적으면 자동으로 튜플

In [ ]:
print(t1)
print(t2)
print(t3)

(1,)
1
(1, 2, 3)

In [ ]:
t3[0] = 4
# 다음과 같이 튜플에 대한 수정이 불가능합니다.

TypeError: 'tuple' object does not support item assignment

In [ ]:
t3 = 1,2,3,4
# 이 경우는 t3를 새로운 값으로써 만드는 작업이기에 위의 수정과는 다른 개념

In [ ]:
t4 = t3[:2]
print(t4)

(1, 2)

In [ ]:
del t3[0] # 불가능 (특정 값에 대한 접근 수정 제거 행위)
del t3 # 가능 (전체 데이터 그 자체에 대한 삭제)

TypeError: 'tuple' object doesn't support item deletion

# 튜플의 사용 목적
>> 튜플은 변하지 않는 데이터라는 특징이 있다. 따라서 프로그램에서 수정되는 안되는 핵심 데이터에 대한 설계를 진행하기 좋습니다.

# 딕셔너리(dict)

e.g.) 이름 = "김덕배" 국가 = "nation"처럼 대응 관계로 설명할 수 있는 데이터를 표현하는 리스트와 더불어 가장 많이 사용되는 자료형 중 하나입니다.

연관 배열(associative array) 또는 해시(hash)라고도 부릅니다.
자바 등에서는 Map이라고 부릅니다.

# 딕셔너리의 특징
>> 키(key) - 값(value) 형태로 구성되어있음
* 키
      값에 접근하기 위한 데이터 딕셔너리 내부에 키는 고유한 값을 가집니다.
* 값
      키를 통해 접근한 데이터 딕셔너리 내부에 값은 중복된 값을 가질 수 있습니다.

>> 딕셔너리는 리스트나 튜플같은 순차적 데이터(sequential)이 아닙니다. 따라서 인덱스나 슬라이싱을 사용할 수 없습니다.

In [ ]:
# 딕셔너리 만드는 방법
# 딕셔너리명 = {키1 : 값1, 키2 : 값2, ....}

dict = {'name' : 'jane','phone' : '010-1234-5678','birth' : 1997}
dict2 = {'name' : 'brown','phone' : '010-6666-6666','birth' : 1997}
dict3 = {'name' : 'terry','phone' : '010-2783-2187','birth' : 1997}
dict4 = {'name' : 'jone','phone' : '010-6798-1231','birth' : 1997}

In [ ]:
print(dict['name'])
print(dict['birth'])
print(dict['phone'])
print(dict)

jane
1997
010-1234-5678
{'name': 'jane', 'phone': '010-1234-5678', 'birth': 1997}

In [ ]:
import tabulate as tb
data = [dict, dict2, dict3, dict4]
print(tb.tabulate(data, headers = "keys"))
# dictionary의 keys를 통해 키의 묶음을 따로 관리

name    phone            birth
------  -------------  -------
jane    010-1234-5678     1997
brown   010-6666-6666     1997
terry   010-2783-2187     1997
jone    010-6798-1231     1997

In [ ]:
# 다음 표의 이미지를 보고 딕셔너리를 만드시오.

# 이름        가격    재고
#------     -------  ------
# 메로나      700      35
# 비비빅      700      27
# 월드콘      1200     22

In [ ]:
icecream01 = {'이름' : '메로나', '가격' : 700, '재고' : 35}
icecream02 = {'이름' : '비비빅', '가격' : 700, '재고' : 27}
icecream03 = {'이름' : '월드콘', '가격' : 1200, '재고' : 22}

In [ ]:
import tabulate as tb
data = [icecream01, icecream02, icecream03]
print(tb.tabulate(data, headers = 'keys'))

이름      가격    재고
------  ------  ------
메로나     700      35
비비빅     700      27
월드콘    1200      22

In [ ]:
# 딕셔너리 생성 방식
# 1. 딕셔너리명 = {키 : 값}

# 2. dict() 함수를 통해 생성
# 딕셔너리명 = dict(키 = 값)

icecream04 = dict(이름 = "하겐다즈 딸기맛 바", 가격 = 2700, 재고 = 1)

import tabulate as tb
data = [icecream01, icecream02, icecream03, icecream04] # 딕셔너리를 내부에 넣은 리스트로 테이블 형성
print(tb.tabulate(data, headers = 'keys'))

이름                  가격    재고
------------------  ------  ------
메로나                 700      35
비비빅                 700      27
월드콘                1200      22
하겐다즈 딸기맛 바    2700       1

In [ ]:
# 딕셔너리 관련 문법

a = dict() #비어있는 딕셔너리 만들 수 있습니다.
print(type(a))
b = {}
print(type(b))

# 딕셔너리 값 추가 방법
# 딕셔너리명[키] = 값
a["이름"] = "유한솔"
print(a)

#딕셔너리 값 수정 방법
#기존에 있는 키에 새로운 값을 적용
a["이름"] = "장한솔"
print(a)

# 딕셔너리 값 제거 방법
del a["이름"]
print(a)

<class 'dict'>
<class 'dict'>
{'이름': '유한솔'}
{'이름': '장한솔'}
{}

In [ ]:
# 딕셔너리 키, 값에 관련된 문법
data = dict(name = "001AFBI" , code = 1, path = "KKNB-4996")

# 값 하나를 불러오는 방법
# 딕셔너리명[키]
print(data['name'])

#딕셔너리를 이용해 key 리스트를 생성합니다.
key_list = list(data.keys())
print(key_list)
# 딕셔너리를 이용해 value 리스트를 생성합니다.
value_list = list(data.values())
print(value_list)
#딕셔너리를 이용해 items(key와 value의 한 쌍) 리스트를 생성합니다.
items_list = list(data.items())
print(items_list)

# in을 이용해 내부에 키가 있는지를 조사
if "process" in data:
  print("해당 키가 존재합니다.")
else:
  print("해당 키가 존재하지 않습니다.")

data.clear() # 딕셔너리 내부 값 전부 제거
if not data:
  print("현재 데이터가 없습니다.")

001AFBI
['name', 'code', 'path']
['001AFBI', 1, 'KKNB-4996']
[('name', '001AFBI'), ('code', 1), ('path', 'KKNB-4996')]
해당 키가 존재하지 않습니다.
현재 데이터가 없습니다.

In [ ]:
# zip() 함수
#파이썬의 내장 함수입니다.
# iterable(순회가 가능한 형태의 객체)를 전달받아 각 자료현의 각각의 요소를 나누고 인덱스끼리
# 잘라 리스트로 return해주는 기능
# iterable의 유형 : 리스트, 튜플

list1 = [1,2,3,4]
list2 = ['one','two','three','four']

list3 = list(zip(list1, list2))
print(list3)

for x,y in list3:
  print(x,y)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
1 one
2 two
3 three
4 four

# 자료구조 set
>> 파이썬에서 집합을 표현할 수 있는 자료구조
수학적인 집합개념을 표현할 때 사용하며, 중복되지 않는다는 특징으로 인해 중복 값을 쉽게 제거하는 용도로 사용됩니다.


>>따로 순서의 개념이 없어서 인덱스, 슬라이싱 사용 불가

In [ ]:
s1 = set() #비어있는 set 생성
s2 = set([1,2,3,2,2,2]) # 리스트를 set로 변경
s3 = {1,2,3} # {값1, 값2, 값3}와 같은 형태로 적히면 set, {키 : 값} 형태로 적히면 dict
s4 = {4, 11, 99, 'a'}

print(type(s1))
print(type(s2))
print(type(s3))
print(type(s4))

print(s1)
print(s2) # 중복제거
print(s3)
print(s4) #적힌 순서가 아닌 내부의 구조에 따라 알아서 저장됩니다.

<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
set()
{1, 2, 3}
{1, 2, 3}
{99, 'a', 11, 4}

In [ ]:
# set를 이용한 수학적 집합 표현법
A = {1,2,3,4,5,6,7,8,9,10}
B = {2,4,6,8,10}

# 1) intersection(교집합)
C = A.intersection(B)
print(C)
C = A & B
print(C)

# 2) union(합집합)
D = A.union(B)
print(D)
D = A | B
print(D)

# 3) difference(차집합)
E = A.difference(B)
print(E)
E = A - B
print(E)

{2, 4, 6, 8, 10}
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}

In [ ]:
# set 기본 문법
s = set()
s.add(1)
s.add(1)
s.add(1)
s.add(1) # 같은 값은 추가해도 하나만 등록됩니다.
print(s)

s.update([4,5,6]) # 여러 값을 한번에 추가하는 기능 update
print(s)

s.remove(1)
print(s)

{1}
{1, 4, 5, 6}
{4, 5, 6}

# 컴프리헨션(comprehension)
>> 파이썬에서 제공하는 특정 자료구조를 간단하게 설계할 수 있는 작성 방법

In [ ]:
# 리스트 컴프리헨션

#리스트명 = [변수명 for문 if문]
number = [x for x in range(10) if x % 2 == 0]
print(number)
# 0부터 9까지의 숫자 리스트 중에서 짝수인 값만
# 리스트로 만들어 줍니다.

[0, 2, 4, 6, 8]

In [ ]:
# 리스트 컴프리헨션이 아닌 일반적인 방법으로 위의 값을 만드는 방법

number = list()
for x in range(10):
  if x % 2 == 0:
    number.append(x)
print(number)

[0, 2, 4, 6, 8]

In [ ]:
# 리스트 컴프리헨션에서 조건문 추가하기

# 1. if문만 사용되는 경우(필터링 기능)
# >> for문 다음에 서술을 해줍니다.

list1 = [x for x in range(1, 101) if x % 3 == 0]
print(list1)

# 2. if - else문을 적을 경우
# >> if - else가 값을 결정하는 역할로 사용됩니다.
# >> 이 경우에는 for문보다 앞에 서술됩니다.

# 1부터 10까지의 숫자 중에서 짝수는 제곱, 홀수는 그대로 저장
list2 = [x ** 2 if x % 2 == 0 else x for x in range(1,11)]
print(list2)

# 3. if - elif - else문의 작성되는 경우
# >> elif는 리스트 컴프리헨션에서 사용할 수 없습니다.
#    따라서 if - else를 두번 사용하는 방식으로 구현합니다.

# [변수 if 조건문1 else문 if 조건문2 else문 for문]
# e.g.) [-3, -1, 0, 1, 3]을 이용해 숫자의 형태에 따라 'zero','pos','neg'로 분류하시오.
# pos는 양의 정수, zero는 0, neg는 음의 정수를 의미합니다.

list3 = [-3, -1, 0, 1, 3]
result = ['positive' if i > - 0 else 'negative' if i < 0 else 'zero' for i in list3]
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]
['negative', 'negative', 'zero', 'positive', 'positive']

In [ ]:
# 딕셔너리 컴프리헨션

# 1. 일반적으로 같은 데이터의 길이를 가진 2개의 리스트를 준비합니다.
# 2. zip()함수를 통해 해당 리스트를 각각의 값으로 바인딩합니다.

rank = ['S','A','B']
name = ['독수리', '매','비둘기']

item_data = {k : v for  k,v in zip(rank,name)}
# 1. item_data는 k : v 형태의 요소를 가지게 됩니다.()
# 2. for문을 통해 rank, name으 zip 객체의 k,v를 처리합니다.
#    이때, k는 key를 v는 value를 의미합니다.
# 3. zip(rank, name)에 의해 rank의 각각의 값과  name의 각각의 값이 바인딩됩니다.

print(item_data)

name = ['메로나','돼지바','폴라포']
price = [1000, 1200, 1300]

less_1200 = {k : v for k,v in zip(name, price) if v < 1200}
print(less_1200)

{'S': '독수리', 'A': '매', 'B': '비둘기'}
{'메로나': 1000}

In [ ]:
# 세트 컴프리헨션
# 리스트 컴프리헨션애서 []대신 {}를 써주면 바로 set가 됩니다.

set1 = {x for x in range(1,11) if x % 2 == 0}
print(set1)

set2 = {x*2 if x % 2 == 0 else x for x in range(1,11)}
print(set2)

{2, 4, 6, 8, 10}
{1, 3, 4, 5, 7, 8, 9, 12, 16, 20}