<a href="https://colab.research.google.com/github/SEOWOOJI/SEOWOOJI_Python/blob/main/2025_01_25_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플(tuple)

* 튜플명 = ()의 형태로 만듭니다.
* 수정이 불가능한 데이터

In [ ]:
t1 = (1,) # 튜플은 값이 1개일 경우에도 ,를 써줘야 함
t2 = (1) # 이 경우 그냥 값 1로 처리됩니다.
t3 = 1,2,3 # ()를 생략하고 적으면 자동으로 튜플

In [ ]:
print(t1)
print(t2)
print(t3)

(1,)
1
(1, 2, 3)

In [ ]:
t3[0] = 4
# 다음과 같이 튜플에 대한 수정이 불가능합니다.

TypeError: 'tuple' object does not support item assignment

In [ ]:
t3 = 1,2,3,4
# 이 경우는 t3를 새로운 값으로써 만드는 작업이기에 위의 수정과는 다른 개념

In [ ]:
t4 = t3[:2]
print(t4)

(1, 2)

In [ ]:
del t3[0] # 불가능 (특정 값에 대한 접근, 수정, 제거 행위)

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
del t3 # 가능 (전체 데이터 그 자체에 대한 삭제)

# 튜플의 사용 목적
>> 튜플은 변하지 않는 데이터라는 특징이 있습니다.  
>> 따라서 프로그램에서 수정되는 안되는 핵심 데이터에 대한 설계를 진행하기 좋습니다.

# 딕셔너리(dict)

e.g.) 이름 = "김덕배" 국가 = "nation"처럼 대응 관계로 설명할 수 있는 데이터를 표현하는 리스트와 더불어 가장 많이 사용되는 자료형 중 하나입니다.

연관 배열(associative array) 또는 해시(hash)라고도 부릅니다.
자바 등에서는 Map이라고 부릅니다.

# 딕셔너리의 특징
>> 키(key) - 값(value) 형태로 구성되어있음
* 키
      값에 접근하기 위한 데이터, 딕셔너리 내부에서 키는 고유한 값을 가집니다.
* 값
      키를 통해 접근한 데이터, 딕셔너리 내부에서 값은 중복된 값을 가질 수 있습니다.

>> 딕셔너리는 리스트나 튜플같은 순차적 데이터(sequential)이 아닙니다. 따라서 인덱스나 슬라이싱을 사용할 수 없습니다.

In [ ]:
# 딕셔너리 만드는 방법
# 딕셔너리명 = {키1 : 값1, 키2 : 값2, ....}

dict1 = {'name' : 'Jane','phone' : '010-1234-5678','birth' : 1997}
dict2 = {'name' : 'Brown','phone' : '010-6666-6666','birth' : 1997}
dict3 = {'name' : 'Terry','phone' : '010-2783-2187','birth' : 1997}
dict4 = {'name' : 'Jone','phone' : '010-6798-1231','birth' : 1997}

In [ ]:
print(dict1['name'])
print(dict1['birth'])
print(dict1['phone'])
print(dict1)

Jane
1997
010-1234-5678
{'name': 'Jane', 'phone': '010-1234-5678', 'birth': 1997}

In [ ]:
import tabulate as tb
data = [dict1, dict2, dict3, dict4]
print(tb.tabulate(data, headers = "keys"))
# dictionary의 keys를 통해 키의 묶음을 따로 관리

name    phone            birth
------  -------------  -------
Jane    010-1234-5678     1997
Brown   010-6666-6666     1997
Terry   010-2783-2187     1997
Jone    010-6798-1231     1997