<a href="https://colab.research.google.com/github/SEOWOOJI/SEOWOOJI_Python/blob/main/2025_01_26_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬의 함수

>> 프로그래밍에서 변수는 값에 대한 이름, 함수는 코드에 대한 이름으로 볼 수 있습니다.

In [ ]:
def Function1():
  print("Function1 is called")

In [ ]:
print(id(Function1))
# id(함수명)을 통해 해당 함수 프로그램에서 저장되어 할당된 주소를 확인할 수 있습니다.

138666196548032

# 함수 이름은 함수 객체에 대란 바인딩을 합니다. 따라서 함수의 이름을 통해 함수를 호출할 수 있게 됩니다.

In [ ]:
# 호출 방법
# 함수명()
Function1()

Function1 is called

# 사용자가 만들 수있는 일반적인 형태의 함수

* return이 있는 함수
  >> 값 전달
* return이 없는 함수
  >> 기능 사용

In [ ]:
def Function2(x,y):
  return x + y

In [ ]:
def Function3(x,y):
  print(x + y)

In [ ]:
print(Function2(10,5))
#return에 의해 10 + 5인 15의 값이 호출한 위치에 전달됩니다.
#print(15)가 되므로 값이 15가 출력됩니다.

print(Function3(10,5))
#Function3(10,5) 내부의 print문에 의해 10 + 5에 대한 출력 결과가 출력되고
#return하지 않았기 때문에 전달된 값이 없음, 이 경우 None으로 처리됨
# 따라서 print(None)가 진행됨

15
15
None

# 가변인자
>> 파이썬에서 함수를 정의할 때, 인자 값의 개수를 가변적으로 정의해야할 경우 사용합니다.

    e.g.) so(1,2), so(1,2,3), so(1,2,3,4)이런 식으로 쓰고 싶은 경우

In [ ]:
# parameter 자리에 *을 붙여준다.
def so(*args):
  print(args)

In [ ]:
so(1,2)
so(1,2,3)
so(1,2,3,4)
# 튜플 표현시 1,2,3으로 적으면 (1,2,3) 형태가 된다.
# 따라서 이건 튜플이다.

(1, 2)
(1, 2, 3)
(1, 2, 3, 4)

In [ ]:
def sum(*args):
  result = 0
  for i in args:
    result += i
  return result

In [ ]:
print(sum(1,2,3,4,5))
print(sum(1,2,3,4))

15
10

# 가변 인자(키워드)
>> 키워드 = 값의 형태를 전달할 수 있습니다.  
>>(dict) 매개변수 앞에 *이 2개 붙습니다.

>>e.g.) so2(**kwargs)

In [ ]:
def so2(**kwargs):
  print(kwargs)

In [ ]:
so2(a = 1, b = 2, c = "JK")

{'a': 1, 'b': 2, 'c': 'JK'}

In [ ]:
def info(**kwargs):
  for k, v in kwargs.items():
    print(k,v)

In [ ]:
info(이름 = "뿌요", 나이 = 5)

이름 뿌요
나이 5

In [ ]:
kor, eng, mat = map(int, input("점수를 입력하세요 : ").split())

# map(function, iterable)
# function : 각 요소에 적용할 함수를 의미합니다. 여기서는 각각의 값에 int()적용
# interable : 데이터 묶음

# >> kor, eng, mat를 대상으로 각각 입력한 값을 split()에 의해 띄어쓰기 기준으로 분리하고
# int()로 정수형 데이터로 변경합니다.

# >> 국, 영, 수를 띄어쓰기 기준으로 숫자 순서대로 입력하면 알아서 나워지는 기능

#입력값은 100, 81, 79 순으로 입력

max = getMax(kor, eng, mat)
print("높은 점수 : ", max) #100

max = getMax(eng, mat)
print("높은 점수 : ", max) #81

#위의 계산 결과라 처리될 수 있게 함수 getMax를 설계하세요.

점수를 입력하세요 : 100 81 79

NameError: name 'getMax' is not defined

In [ ]:
kor, eng, mat = map(int, input("점수를 입력하세요 : ").split())
def getMax(*args):
  args = list(args)
  args.sort()
  return args[-1]

max = getMax(kor, eng, mat)
print("높은 점수 :", max)

점수를 입력하세요 : 100 81 79
높은 점수 : 100

# 재귀 함수

1. 자기 자신을 호출하는 형태를 의미합니다.
2. 같은 형태의 더 작은 문제(부분 문제)를 풀고 부분 문제의 답을 이용해 기존의 문제를 풀어내는 형태를 의미합니다.

    **재귀 함수의 설계 형태**
        1. base case (해당 함수를 종료시킬 조건)
        2. recursive case (반복을 진행해야 할 조건 설계)

# 재귀함수의 장점
1. 특정 로직 구현에 있어서 반복문보다 더 깔끔하거나 쉽게 설계됨.
2. 변수를 여러개 만들 필요가 없어집니다.

# 재귀함수의 단점
1. 함수를 호출하는 과정에서 지역변수, 매개변수, 반환값을 모두 함수 임시 저장 구역(스택)에 지속적으로 저장해야 합니다.
함수는 호출이 종료되면 함수에서 사용했던 지역변수, 매개변수 등에 스택에서 제거되어야 하나 지속적인 호출로 인해 제거되지 못하고 누적되어 더 많은 메모리를 사용하고, 속도 저하로 이어집니다.
2. 위의 저 현상이 지속될 경우 더이상 담아둘 공간이 없어 스택 오버 플로우 현상이 발생할 수가 있습니다.

In [ ]:
def countdown(n):
  if n > 0:
    print(f"countdown({n})이 호출되었습니다.")
    countdown(n-1)

In [ ]:
countdown(10)

countdown(10)이 호출되었습니다.
countdown(9)이 호출되었습니다.
countdown(8)이 호출되었습니다.
countdown(7)이 호출되었습니다.
countdown(6)이 호출되었습니다.
countdown(5)이 호출되었습니다.
countdown(4)이 호출되었습니다.
countdown(3)이 호출되었습니다.
countdown(2)이 호출되었습니다.
countdown(1)이 호출되었습니다.

**처리 과정**  
countdown(10) 호출  
조건식 만족(10 > 0), print문 실행  
  countdown(9) 호출  
  조건식 만족(9 > 0), print문 실행  
    countdown(8) 호출  
    조건식 만족(8 > 0), print문 실행  
    ....  
    countdown(0) 호출  
    조건식 불만족(0 > 0), 작업 종료

In [ ]:
# factorial(n)
def factorial(n : int) -> int:
  if n == 1:
    return 1
  return n * factorial(n-1)

# 함수 작성 시
# def 함수명 : 타입) -> 타입으로 넣어줄 값의 데이터 형태를 표현할 수 있습니다.
# (적으면 해당 타입이 아닌 경우라면 None으로 처리합니다.)

In [ ]:
print(factorial(5))

120

In [ ]:
# 재귀 함수를 이용해 10진수를 2진수로 변환하는 함수 printbinary를 구현하세요.

2진수 계산 방법
>> 10진수를 2의 제곱수로 분해해서 표현합니다.
제곱 수에 포함되지 않은 범위면 0으로 제곱수에 해당하는 값응ㄹ 가졌으면 1로 순서대로 작성합니다.

    e.g.) 숫자 15를 2진수로 변경
          2의 0제곱 => 1
          2의 1제곱 => 2
          2의 2제곱 => 4
          2의 3제곱 => 8
          2의 4제곱 => 16
          숫자 15는 4제곱보다 아래에 있는 단계의 제곱수로 표현이 가능합니다.
          15 - 8 = 7
          7 - 4 = 3
          3 - 2 = 1
          1 - 1 = 0

          1111

In [ ]:
def printbinary(n):
  if n < 2:
    print(n, end = '')
  else:
    printbinary(n // 2)
    print(n % 2, end = '')

In [ ]:
printbinary(15) #1111

1111

In [ ]:
# x의 n제곱을 return하는 함수 xsquare를 구현하세요.

def xsquare(x, n):
  if n == 0:
    return 1 # 모든 숫자의 0 제곱은 1이 나오게 됩니다.
  return x * xsquare(x, n-1)

In [ ]:
print(xsquare(2,10))

1024

# 하노이의 탑을 재귀함수로 구현해보기

# 해당 게임은 다음과 같은 조건을 만족해 한 기둥에 꽂힌 원판들을 그 순서 그대로 다른 기둥으로 옭겨서 다시 쌓는 게임입니다.

In [ ]:
# n : 원반의 개수
# start : 옮기는 원반이 있는 출발점 구간
# end : 원반을 옮길 도착 지점 구간
# mid : 옮기는 과정에서 사용될 보조 구간

def towerHanoi(n, start, end, mid):
  # 이 반복 작업의 종료 조건은 원반의 개수가 1인 상황
  if n == 1:
    print(f"{start} -> {end}")
    return
  towerHanoi(n-1, start, mid, end) # 원반 1개를 이용해 mid 지점으로 이동합니다.
  print(f"{start} -> {end}") # 옮긴 상황을 출력합니다.
  towerHanoi(n-1, mid, end, start) # mid 영역에 있었던 원반을 목적지(end)로 이동합니다.

# 해당 함수에서는 옮기는 과정과 마무리 과정을 출력하게 됩니다.

In [ ]:
# 타워와 원반 개수를 전달해 테스트를 진행합니다.
n = 4
print(f"MIn : {(1 << n)-1}") # 1 << 2는 비트 1을 2단계 밀어내는 것을 의미합니다.
# 컴퓨터는 2진수 단위로 처리되기에 1을 2단계 밀어내면
# 숫자 1을 2진수로 표현 0000000001
# 쉬프트 연산           0000000010
#                       0000000100
towerHanoi(4, "Tower 1", "Tower 2", "Tower 3")

MIn : 15
Tower 1 -> Tower 3
Tower 1 -> Tower 2
Tower 3 -> Tower 2
Tower 1 -> Tower 3
Tower 2 -> Tower 1
Tower 2 -> Tower 3
Tower 1 -> Tower 3
Tower 1 -> Tower 2
Tower 3 -> Tower 2
Tower 3 -> Tower 1
Tower 2 -> Tower 1
Tower 3 -> Tower 2
Tower 1 -> Tower 3
Tower 1 -> Tower 2
Tower 3 -> Tower 2