<a href="https://colab.research.google.com/github/SEOWOOJI/SEOWOOJI_Python/blob/main/2025_01_26_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬의 함수

>> 프로그래밍에서 변수는 값에 대한 이름, 함수는 코드에 대한 이름으로 볼 수 있습니다.

In [ ]:
def Function1():
  print("Function1 is called")

In [ ]:
print(id(Function1))
# id(함수명)을 통해 해당 함수 프로그램에서 저장되어 할당된 주소를 확인할 수 있습니다.

138666196548032

# 함수 이름은 함수 객체에 대란 바인딩을 합니다. 따라서 함수의 이름을 통해 함수를 호출할 수 있게 됩니다.

In [ ]:
# 호출 방법
# 함수명()
Function1()

Function1 is called

# 사용자가 만들 수있는 일반적인 형태의 함수

* return이 있는 함수
  >> 값 전달
* return이 없는 함수
  >> 기능 사용

In [ ]:
def Function2(x,y):
  return x + y

In [ ]:
def Function3(x,y):
  print(x + y)

In [ ]:
print(Function2(10,5))
#return에 의해 10 + 5인 15의 값이 호출한 위치에 전달됩니다.
#print(15)가 되므로 값이 15가 출력됩니다.

print(Function3(10,5))
#Function3(10,5) 내부의 print문에 의해 10 + 5에 대한 출력 결과가 출력되고
#return하지 않았기 때문에 전달된 값이 없음, 이 경우 None으로 처리됨
# 따라서 print(None)가 진행됨

15
15
None

# 가변인자
>> 파이썬에서 함수를 정의할 때, 인자 값의 개수를 가변적으로 정의해야할 경우 사용합니다.

    e.g.) so(1,2), so(1,2,3), so(1,2,3,4)이런 식으로 쓰고 싶은 경우

In [ ]:
# parameter 자리에 *을 붙여준다.
def so(*args):
  print(args)

In [ ]:
so(1,2)
so(1,2,3)
so(1,2,3,4)
# 튜플 표현시 1,2,3으로 적으면 (1,2,3) 형태가 된다.
# 따라서 이건 튜플이다.

(1, 2)
(1, 2, 3)
(1, 2, 3, 4)

In [ ]:
def sum(*args):
  result = 0
  for i in args:
    result += i
  return result

In [ ]:
print(sum(1,2,3,4,5))
print(sum(1,2,3,4))

15
10

# 가변 인자(키워드)
>> 키워드 = 값의 형태를 전달할 수 있습니다.  
>>(dict) 매개변수 앞에 *이 2개 붙습니다.

>>e.g.) so2(**kwargs)

In [ ]:
def so2(**kwargs):
  print(kwargs)

In [ ]:
so2(a = 1, b = 2, c = "JK")

{'a': 1, 'b': 2, 'c': 'JK'}

In [ ]:
def info(**kwargs):
  for k, v in kwargs.items():
    print(k,v)

In [ ]:
info(이름 = "뿌요", 나이 = 5)

이름 뿌요
나이 5

In [ ]:
kor, eng, mat = map(int, input("점수를 입력하세요 : ").split())

# map(function, iterable)
# function : 각 요소에 적용할 함수를 의미합니다. 여기서는 각각의 값에 int()적용
# interable : 데이터 묶음

# >> kor, eng, mat를 대상으로 각각 입력한 값을 split()에 의해 띄어쓰기 기준으로 분리하고
# int()로 정수형 데이터로 변경합니다.

# >> 국, 영, 수를 띄어쓰기 기준으로 숫자 순서대로 입력하면 알아서 나워지는 기능

#입력값은 100, 81, 79 순으로 입력

max = getMax(kor, eng, mat)
print("높은 점수 : ", max) #100

max = getMax(eng, mat)
print("높은 점수 : ", max) #81

#위의 계산 결과라 처리될 수 있게 함수 getMax를 설계하세요.

점수를 입력하세요 : 100 81 79

NameError: name 'getMax' is not defined

In [ ]:
kor, eng, mat = map(int, input("점수를 입력하세요 : ").split())
def getMax(*args):
  args = list(args)
  args.sort()
  return args[-1]

max = getMax(kor, eng, mat)
print("높은 점수 : ", max)

점수를 입력하세요 : 100 81 79
높은 점수 :  100